.container{
    max-width: 100%;
}
.header-parallax{
    background-image: url("../images/Sections-background/section-1\(header\).jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1012px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 20%;
    padding-right: 19.5%;
    padding-top: 28px;
    padding-bottom: 25px;
    
}
.logo{
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 250px;

}
.hexagon{
    width: 58px;
	height: 67px;
	background-color: #18cfab;
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 700;
}
.logo-text{
    font-size: 25px;
    font-family: sans-serif;
}
.logo-text span{
    color: #18cfab;
    font-weight: 700;
}
.navbar-links{
    font-size: 12px;
    text-decoration: none;
    color: #b8b8b8;
    margin-right: 0.5rem;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 48px;
}
.navbar-links:hover{
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
}
.navbar-search{
    color: #b8b8b8;
    cursor: pointer;
    font-size: 20px;
}
.navbar-search:hover{
    color: #18cfab;
}
.wellcome-text{
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-top: 246px;

}
.ham-theme{
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.ham-theme span{
    color: #18cfab;
}
.creative-title{
    font-size: 65px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.awesome-features{
    font-size: 30px;
    font-family: sans-serif;
    margin-bottom: 142px;
}
.wellcome-text-buttons{
    text-align: center;
}
.transfer-link{
    background-color: #18cfab;
    padding: 20px 31px 20px 31px;
    text-decoration: none;
    color: #fff;
    border-radius: 3.5px;
    border-top: 3px solid #fff;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}
.transfer-link:hover{
    background-color: #00CBF6;
    transition: ease;
}
.purchase{
    margin-left: 30px;
}
.forma-section{
    display: flex;
}
.option-theme{
    width: 25%;
    background-color: #1c2a33;
    border-top: 3px solid #18cfab;
}
.option-theme-text{
    color:  #18cfab;
    font-size: 10px;
    text-transform: uppercase;
}
.full-custom{
    width: 25%;
    background-color: #18cfab;
    border-top: 3px solid #fff;
}
.full-custom-text{
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
}
.form-sections{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding-bottom: 120px; 
}
.unlim-support{
    width: 25%;
    background-color: #1c2a33;
    border-top: 3px solid #18cfab;
}
.unlim-support-text{
    color: #18cfab;
    font-size: 10px;
    text-transform: uppercase;
}
.respon-divice{
    width: 25%;
    background-color: #18cfab;
    border-top: 3px solid #fff;
}
.respon-divice-text{
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
}
.img-forma{
    margin-bottom: 15%;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin: 100px 200px 50px 200px;
}
.forma-text{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/******************** Our Services ********************/

.our-services{
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 82px auto;
}
.green-line{
    width: 78px;
    height: 2px;
    text-align: right;
    border: none;
    border-bottom: 1px solid #18cfab;
}
.green-line.one{
    margin-top: 26px;
    margin-right: 47%;
    margin-bottom: 1px;
}
.green-line.two{
    margin-top: 1px;
    margin-right: 46%;
    margin-bottom: 70px;
}
.services-section-title{
    font-size: 36px;
    font-family: sans-serif;
    text-transform: capitalize;
    text-align: center;
    color: rgba(78, 78, 78, 255);
}
.services-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(113, 113, 113, 255);
}
.services-tabs-title{
    cursor: pointer;
    padding: 30px 48px;
    box-sizing: border-box;
}
.services-tabs-title:hover{
    outline: 1px solid #18cfab;
}
.services-tabs-title.active{
    padding: 30px 48px;
    color: #fff;
    background-color: #18cfab;
}
.services-tabs-content li{
    font-size: 20px;
    font-family: sans-serif;
    color: rgba(119, 119, 119, 255);
}
.services-tabs-content-conteiner{
    display: inline-flex;
}
.services-tabs-content-conteiner>img{
    margin-right: 20px;
}

/************* Ready to start *************/

.ready-to-start{
    width: 100%;
    background-image: url("../images/Sections-background/section-2.jpg");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ready-to-start-content{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 128px 403px 128px 403px;
    align-items: center;
}
.ready-to-start-title{
    font-size: 40px;
    font-family: sans-serif;
    color: #18cfab;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 35px;
    text-align: center;
}
.ready-to-start-text{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 76px;
    text-align: center;
    color: rgba(216, 216, 216, 0.8);
}

/************* Our Amazing Work *************/

.our-amazing-work{
    width: 1160px;
    margin: 96px auto;
}
.our-amazing-work-title{
    font-size: 37px;
    color: rgba(78, 78, 78, 255);
    text-align: center;
}
.our-amazing-work-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(113, 113, 113, 255);
}
.our-amazing-work-tabs li{
    padding: 25px 21px;
    margin: 2px 0;
    cursor: pointer;
}
.our-amazing-work-tabs li:hover{
    padding: 24px 21px 25px 21px;
    outline: 1px solid #18cfab;
    box-sizing: border-box;
}
.our-amazing-work-content{
    max-width: 1136px;
    display: flex;
    flex-wrap: wrap;
}
.amazing-image-container{
    width: 284px;
    height: 206px;
    overflow: hidden;
}
.hidden {
    display: none;
}
.active-tab {
    border: 1px solid #18cfab;
}


/************* Breaking News *************/

.news-section{
    width: 1160px;
    margin: 180px auto;
}
.news-section-title{
    font-size: 37px;
    color: rgba(78, 78, 78, 255);
    text-align: center;
}
.news-content{
    display: flex;
    justify-content: center;
    align-content: center;
}
.news-block{
    width: 263px;
    height: 208px;
    background-repeat: no-repeat;
    margin: 0 28px 20px 0;
    cursor: pointer;
}
.first-upper-img{
    background-image: url("../images/Breaking-news/breaking_news1.png");
}
.second-upper-img{
    background-image: url("../images/Breaking-news/breaking_news2.png");  
}
.third-upper-img{
    background-image: url("../images/Breaking-news/breaking_news3.png");   
}
.fourth-upper-img{
    background-image: url("../images/Breaking-news/breaking_news4.png");
}
.first-lover-img{
    background-image: url("../images/Breaking-news/breaking_news5.png");  
}
.second-lover-img{
    background-image: url("../images/Breaking-news/breaking_news6.png");
}
.third-lover-img{
    background-image: url("../images/Breaking-news/breaking_news7.png");   
}
.fourth-lover-img{
    background-image: url("../images/Breaking-news/breaking_news8.png");
}
.news-content p{
    /* text-align: center; */
    padding: 0 25px 14px 13px;
}
.news-name{
    font-size: 18.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(113, 113, 113, 255);
    cursor: pointer;
}
.posted-name{
    font-size: 14.5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(119, 119, 119, 255);
}
.posted-name span{
    cursor: pointer;
}
.posted-name span:hover{
    border-bottom: 1px solid rgba(119, 119, 119, 255);
}